.div1 {
    border: 1px solid red;
    font-size: 20px;
    border-radius: 10px;
}

.div2 {
    font-weight: bold;
    font-style: italic;
}

.div3 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: black;
    color: white;
    font-family: monospace;
}
