
body{
    display: flex;
    justify-content: center; 
}
.card{ 
    text-align: center;
    border-radius: 50px;
    width: 600px;
    box-shadow: 10px 10px 10px rgba(174, 171, 171, 0.1);
    background-color: rgb(228, 244, 248);
}

img{
    border-radius: 1000px;
}
h1{
    font-family: 'Poppins';
    font-weight: bold;
}
h3{
    color: #ba9292;
}
.love{
    color: rgb(91, 131, 91);
    text-decoration:underline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px; 
    
}