
#div1{
    height: 50vh;
    width:  70vh;
    background-color: #f4f1de;
}
#div2{
    height: 50vh;
    width:  50vh;
    position: absolute;
    top: 20vh;
    right:50vw;
    background-color:#e07a5f;

}
#div3{
    height: 30vh;
    width:  80vw;
    position: absolute;
    top: 60vh;
    background-color: #3d405b;

}

#div4{
    height: 100vh;
    width:  8vw;
    position: absolute;
    top: 0vh;
    right: 25vw;
    background-color: #f2cc8f;

}