#outer {
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 50px;
    font-size: x-large;
    /* font-size: small; */
    }
#inner {
    width: 50px;
    height: 50px;
    background: lightgreen;
    /* we should use relative and not absolute */
    position: relative;
    top: 10px;
    }
