main{
    color: #03045e;
    font-family: "Roboto Slab", serif;
    margin: 5%;
    padding:5%;
    text-align: center;
    background-color: rgba(150, 181, 181, 0.047);
    border-radius: 10vh;
    border:#03045e 10px;
    border-style: dashed;

   
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flat1{
    text-align: center;
    height: 6vh;
    width: 8vw;
    border: none;
    background-color: #cdb4db;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.flat1:hover{
    background-color: #e6c2fb;
}

.flat2{
    text-align: center;
    height: 5vh;
    width: 5vw;
    border: none;
    font-size: 16px;
    background-color: #ffc8dd;
    color: white;
}
.flat2:hover{
    background-color: #ffb4d1;
}
.r1{
    text-align: center;
    height: 6vh;
    width: 8vw;
    border: none;
    background-color: #ffafcc;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6vh;

}
.r1:hover{
    background-color: #ff96bc;
}

.r2{
 
    text-align: center;
    height: 5vh;
    width: 5vw;
    border: none;
    background-color: #bde0fe;
    color: white;
    font-size: 16px;
    border-radius: 6vh;
    
    
}
.r2:hover{
    background-color: #9cd1ff;
}
.fg1{
    background-color: transparent;
    border: 5px ;
    border-color: #cdb4db;
    border-style: dotted;
    color: #cdb4db;

}
.fg1:hover{
    background-color: #cdb4db;
    color: white;
}
.fg2{
    background-color: transparent;
    border: 5px ;
    border-color:  #ffc8dd;
    border-style: dotted;
    color:  #ffc8dd;

}
.fg2:hover{
    background-color: #ffc8dd;
    color: white;
}

.rg2{
    background-color: transparent;
    border-radius: 6vh;
    border: 5px ;
    border-color:#bde0fe;
    border-style: dotted;
    color: #bde0fe;
}
.rg2:hover{
    background-color:#bde0fe;
    color: white;
}

.rg1{
    background-color: transparent;
    border-radius: 6vh;
    border: 5px ;
    border-color: #ffafcc;
    border-style: dotted;
    color:  #ffafcc;
}
.rg1:hover{
    background-color: #ffafcc;
    color: white;
}