body, html {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #8bb759;
}

/*this is without media query*/
ul , li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar .logo {
    color: #fff;
    font-size: 1.5em;
    flex: 1;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;

}



.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background 0.3s;
}

.navbar .nav-links a:hover {
   
    background-color: #9dce66;
}

/*this is withhh media query*/
/* phone device */
/* 

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
    }

    .navbar .nav-links {
        flex-direction: column;
        align-items:center;
        width: 100%;
    }

    .navbar .nav-links li {
        margin: 0.5em 0;
    }

    .navbar .nav-links a {
        width: 100%;
    }
} */