body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.profileCard {
    background-color: white;
    width: 20vw;
    height: 50vh;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.profileCard:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.profileImage {
    border-radius: 50%;
    width: 80%;
    height:50%;
    margin-bottom: 15px;
}

.profileName {
    height: 4vh;
    padding-top: 5vh;

    font-size: 1.5em;
    padding-bottom: 0px;
    margin-bottom: 10px;
   
}

.profileBio {
    margin-top: 0px !important;

    font-size: 0.9em;
    color: #666;
}
